<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yassirh.digitalocean"
    android:versionCode="11"
    android:versionName="1.2"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
    <application
        android:name="com.yassirh.digitalocean.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yassirh.digitalocean.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yassirh.digitalocean.ui.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name="com.startapp.android.publish.AppWallActivity"
			android:theme="@android:style/Theme.Translucent" 
			android:taskAffinity="com.yassirh.digitalocean.AppWall"
			android:configChanges="orientation|keyboardHidden" />
		<activity android:name="com.startapp.android.publish.list3d.List3DActivity"
			android:taskAffinity="com.yassirh.digitalocean.AppWall"
			android:theme="@android:style/Theme" />
		<receiver android:name="com.yassirh.digitalocean.utils.MyBroadcastReceiver" ></receiver>
    </application>

</manifest>
